extends layout

block content
  h1= title
  hr


  //-
    each user in users
      p= user.email
      hr

  div(ng-controller="userListCtrl")
    div(ng-repeat="user in data.users")
      p {{user.email}}
      hr

  a(href='/')= "Home"
